# Token gerado pelo @BotFather
BOT_TOKEN=seu_token_aqui

# URL do servidor onde o bot está hospedado (usado no Webhook)
WEBHOOK=https://seu-app.herokuapp.com/

# Rota específica para o Telegram enviar as mensagens
ROUTE=/telegram-update